<h1>Listing pages</h1>

<table class='listview' >
  <thead>
    <tr>
        <th>Header</th>
        <th>Content</th>
        <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.header %></td>
    <td><%= page.content_id %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

  </tbody>
  <tfoot>
    <tr><td colspan=2 > <%= will_paginate @pages %> </td></tr>
  </tfoot>

</table>

<br />

<%= link_to 'New Page', new_page_path %>
