<html> 
  <head> 
    <title> <%= @current_site.options.name %> | Home </title> 
    <%= javascript_include_tag :defaults %> 
    <%= javascript_include_tag '/themes/simple/js/default.js' %>
    <%= stylesheet_link_tag '/themes/simple/css/default.css' %>
  </head>
  <body>
    <div>
      Home Header
    </div>
    <div>
      <%= yield %>
    </div>
    <div>
      Footer
    </div>
  </body>
</html>
    
